<nav class="navbar">
    <div class="navbar-logo" routerLink="/">
      <img src="../../assets/logo_am_parcat.jpeg" alt="My App Logo" />
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/users" class="btn btn-info">Users</a></li>
  <li><a routerLink="/inregistrare" class="btn btn-info">Înscrie-te</a></li>
  <li><a routerLink="/about" class="btn btn-info">About</a></li>
      <li><a routerLink="/contact" class="btn btn-info" ></a></li>
    </ul>
    <div class="navbar-actions">
      <!-- Add login/logout buttons or user-related actions here -->
    </div>
  </nav>
