<nav class="navbar">
  <div class="navbar-logo" routerLink="/">
    <img src="../../assets/logo_am_parcat.jpg" alt="My App Logo" />
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/users" class="btn btn-info">Users</a></li>
    <li><a routerLink="/inregistrare" class="btn btn-info">Înscrie-te</a></li>
    <li><a routerLink="/anunturi" class="btn btn-info">Anunturi</a></li>
    <li><a routerLink="/" class="btn btn-info" >Adauga un loc de parcare</a></li>

  </ul>
  <div class="navbar-actions">
    <menu-icons-example></menu-icons-example>
  </div>

</nav>
