<div class="login-container">
  <h2>Autentificare</h2>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="usernameOrEmail">Username/Email:</label>
      <input type="text" id="usernameOrEmail" name="usernameOrEmail" [(ngModel)]="usernameOrEmail" required>
    </div>
    <div class="form-group">
      <label for="password">Parolă:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit" [disabled]="!isHuman">Autentificare</button>
  </form>
  <div class="security">
      <button
        data-testid="btn-sign-in"
        mat-raised-button
        (click)="securityStore.signIn()"
      >
        Sign In
      </button>
  </div>
  <div class="security">
    <button
      data-testid="btn-sign-in"
      mat-raised-button
      (click)="securityStore.signOut()"
    >
      Sign Out
    </button>
  </div>
</div>


