body {
  background-color: #f0f4f7; /* Culoare de fundal albastru deschis */
  margin: 0;
  font-family: Arial, sans-serif;
}


.profile-pic {
  width: 30px; /* ajustează dimensiunea după preferință */
  height: 30px; /* ajustează dimensiunea după preferință */
  border-radius: 50%; /* face imaginea rotundă */
  object-fit: cover; /* asigură că imaginea este întotdeauna întinsă în interiorul formei rotunde */
}

.custom-card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* adăugăm o umbră subtilă */
  margin-bottom: 20px; /* adăugăm spațiu între carduri */
}

/*.feedback-content {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: flex-start;*/
/*}*/


.message {
  margin-bottom: 5px; /* spațiu între mesaj și nota acordată */
}

.rating {
  font-weight: bold;
}

/*.container {*/
/*  max-width: 1200px;*/
/*  margin: 0 auto;*/
/*  padding: 20px;*/
/*}*/

.profile {
  display: flex;
  align-items: center;
  background-color: #fff; /* Culoare de fundal alb */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Umbra */
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  flex: 1;
}


.verified-badge, .unverified-badge {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}

.verified-badge {
  background-color: #4caf50; /* Verde */
}

.unverified-badge {
  background-color: #f44336; /* Rosu */
}

.small-button{
  font-size: 12px;
}
